<div class="tags">
  <span class="tag button" [class.is-primary]="selectedAgeLimit == ageLimits.K7" (click)="setAgeLimit(ageLimits.K7)">{{ageLimits.K7}}</span>
  <span class="tag button" [class.is-primary]="selectedAgeLimit == ageLimits.K12" (click)="setAgeLimit(ageLimits.K12)">{{ageLimits.K12}}</span>
  <span class="tag button" [class.is-primary]="selectedAgeLimit == ageLimits.K16" (click)="setAgeLimit(ageLimits.K16)">{{ageLimits.K16}}</span>
  <span class="tag button" [class.is-primary]="selectedAgeLimit == ageLimits.K18" (click)="setAgeLimit(ageLimits.K18)">{{ageLimits.K18}}</span>
</div>
