<div class="card-content">

  <div class="section">
    <div class="container">
      <h1 class="title">{{movie.name}}</h1>
      <h2 class="subtitle">{{movie.year}}</h2>
    </div>
  </div>

  <div class="section">

    <div class="columns is-multiline">
      <div class="column is-half">

        <div class="container mb-2">
          <span class="subtitle mb-2">Actors</span>
          <p>{{getActors(movie.actors)}}</p>
        </div>

        <div class="container mb-2">
          <span class="subtitle mb-2">Director</span>
          <p>{{movie.director.firstName}} {{movie.director.lastName}}</p>
        </div>

        <div class="container mb-2">
          <span class="subtitle mb-2">Genres</span>
          <div class="tags">
            <span class="tag is-info" *ngFor="let genre of movie.genres">{{genre}}</span>
          </div>
        </div>

      </div>
      <div class="column is-half">

        <div class="container mb-2">
          <span class="subtitle">Rating</span>
          <p>{{movie.rating}}</p>
        </div>

        <div class="container mb-2">
          <span class="subtitle mb-2">Age Limit</span>
          <p>{{movie.ageLimit}}</p>
        </div>

      </div>

      <div class="column is-full"></div>
      <p class="content">{{movie.synopsis}}</p>
    </div>

  </div>

</div>
